<div class="container">
    <h2 class="my-4">Cập nhật sản phẩm</h2>
    <form
        novalidate
        [formGroup]="formProductEdit"
        (ngSubmit)="onHandleSubmit()"
    >
        <div class="form-group mb-3">
            <label class="form-label">Tên sản phẩm</label>
            <input
                type="text"
                class="form-control"
                formControlName="name"
                name="name"
            />
            <div
                *ngIf="
                    formProductEdit.controls['name']?.invalid &&
                    (formProductEdit.controls['name']?.dirty ||
                        formProductEdit.controls['name']?.touched)
                "
            >
                <div
                    *ngIf="formProductEdit.get('name')?.hasError('required')"
                    class="form-text text-danger"
                >
                    Name is required
                </div>
                <div
                    *ngIf="formProductEdit.get('name')?.hasError('minlength')"
                    class="form-text text-danger"
                >
                    Min length 3
                </div>
            </div>
        </div>
        <!--End control name-->
        <div class="form-group mb-3">
            <label class="form-label">Giá sản phẩm</label>
            <input type="number" class="form-control" formControlName="price" />
        </div>
        <!--End control name-->
        <div class="form-group mb-3">
            <label class="form-label">Mô tả sản phẩm</label>
            <textarea
                id=""
                cols="30"
                rows="10"
                class="form-control"
                formControlName="desc"
            ></textarea>
        </div>
        <!--End control name-->
        <button class="btn btn-primary">Cập nhật</button>
    </form>
</div>
