<div class="container">
    <form
        novalidate
        #formProductAdd="ngForm"
        (ngSubmit)="onHandleSubmit(formProductAdd)"
    >
        <div class="form-group mb-3">
            <label class="form-label">Tên sản phẩm</label>
            <input
                type="text"
                name="name"
                class="form-control"
                ngModel
                required
                minlength="3"
                #name="ngModel"
            />
            <!-- Nếu input có lỗi và khi tôi click vào input + thay đổi giá trị  -->
            <!-- Thì sẽ hiển thị div -->
            <div *ngIf="name.invalid && (name?.dirty || name?.touched)">
                <div
                    *ngIf="name?.hasError('required')"
                    class="form-text text-danger"
                >
                    Name is required
                </div>
                <div
                    *ngIf="name?.hasError('minlength')"
                    class="form-text text-danger"
                >
                    Min length 3
                </div>
            </div>
        </div>
        <!--End control name-->
        <div class="form-group mb-3">
            <label class="form-label">Giá sản phẩm</label>
            <input type="number" name="price" class="form-control" ngModel />
            <div class="form-text text-danger">Lỗi</div>
        </div>
        <!--End control name-->
        <div class="form-group mb-3">
            <label class="form-label">Mô tả sản phẩm</label>
            <textarea
                name="desc"
                id=""
                cols="30"
                rows="10"
                class="form-control"
                ngModel
            ></textarea>
            <div class="form-text text-danger">Lỗi</div>
        </div>
        <!--End control name-->
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
