<a routerLink="product/create">Create New</a>
<section id="products">
  <div class="row">
    <div class="col-3">
      <strong>STT</strong>
    </div>
    <div class="col-3">
      <strong>Name</strong>
    </div>
    <div class="col-3">
      <strong>Price</strong>
    </div>
    <div class="col-3">
      <strong>Action</strong>
    </div>
  </div>
  <div class="row" *ngFor="let product of products; index as i">
    <div class="col-3">{{ i + 1 }}</div>
    <div class="col-3">{{ product.name }}</div>
    <div class="col-3">{{ product.price }}</div>
    <div class="col-3">
      <a
        class="btn btn-primary"
        [routerLink]="'/admin/product/detail/' + product.id"
        >View Detail</a
      >
    </div>
  </div>
</section>
